@namespace Web.Layout
@inherits LayoutComponentBase
<TelerikRootComponent>
	<div class="layout-wrapper">
		<NavMenu />
		<main class="main-content">
			<div class="page-content">
				@Body
			</div>
		</main>
	</div>
</TelerikRootComponent>
